body {
    background: url(../img/gallery/playschoolDesign.png);
    max-width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.schoolSection {
    background-color: #0d1117;
    margin-top: 10vh;
    /* height: 0vh; */
    margin-bottom: -2px;
}

.schoolSection h1 {
    font-size: xx-large;
    text-align: center;
}

@counter-style space-counter {
    system: fixed;
    symbols: 👨‍🚀 🚀 ⭐ 🪐 🎄 🌌 👩 👨‍🔬 🔭;
    suffix: " ";
}

a {
    text-decoration: none;
    /* color: white; */
}

.explore-btn {
    color: black;
    background: white;
    margin-top: 5vh;
}

.explore-btn:hover {
    border: 2px solid white;
    margin-top: 6vh;
}

.president-profile b {
    color: #f05423;
    font-weight: 500;
}

.notice {
    position: fixed;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.6);
    /* color: white; */
    width: 100vw;
    display: flex;
    z-index: 1;
}

.notice span {
    width: fit-content;
    color: aliceblue;
    background: #f05423;
    padding: 5px 15px 8px 5px;
    /* padding-bottom: 3px; */
}

.notice marquee {
    color: white;
    font-weight: 600;
    padding-top: 5px;
}
.school-hero{
    max-width: 100vw;
    margin: auto;
    /* margin-top: 50px; */
    overflow-x: hidden;
}
.schoolSection h1{
    font-family: cursive; 
    font-size: 5rem; 
    margin-top: 10vh; 
    color: aliceblue;
}
.founder-profile{
    background: #f05423;
    border-radius: 20px 0px 20px 0px;
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
    padding: 5px 20px;
    color: aliceblue;
}
.open-alert{
    width: 80vw;
    margin: auto;
}
.open-alert h1{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
}
.open-alert h2{
    background-color: #f05423;
    min-width: fit-content;
    width: 70vw;
    max-width: 300px;
    margin: auto;
    padding: 5px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: medium;
    color: white;
    font-weight: bold;
}
.open-alert .up{
    border-radius: 20px 20px 0px 0px;
}
.open-alert .down{
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 50px;
}
.open-alert .btn{
    background: white;
    color: #f05423;
    border: 2px solid #f05423;
}
.open-alert .btn a{
    color: #f05423;
}
.open-alert .btn:hover{
    background: #f05423;
    color: white;
}
.open-alert .btn:hover a{
    color: white;
}
.open-alert b{
    color: #f05423;
}
.sticky-enroll{
    position: fixed;
    left: -2px;
    bottom: 45px;
    border-radius: 0px;
    font-size: small;
    padding: 10px 20px;
    z-index: 3;
}
@media screen and (max-width: 768px) {
    .choose {
        margin-left: 20px;
        font-weight: 300;
        text-align: justify;
    }

    .footer-tittles .btn a {
        margin: auto;
        text-align: center;
    }
    .schoolSection h1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 3.5rem;
        width: 80vw;
        margin: auto;
        margin-top: 10vh; 

    }
    .schoolSection{
        /* height: 90vh; */
        margin-top: -25px;
        padding-bottom: 50px;
    }
    .founder-profile{
        margin-left: -20px;
        border-radius: 0px 20px 20px 0px;
    }
    .img-fluid{
        height: 250px;
        max-height: 70vw;
    }
    .sticky-enroll{
        border-radius: 0px 25px 25px 0px;
        background: #0d1117;
        border: 1px solid white;
    }
}